
@{
    ViewBag.Title = "Onas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>onas</h2>

<div>
    Wypożyczalnia rowerów
    Firma będzie znajdować się w Opolu na ul. Niemodlińskiej 16. Celem inicjatywy jest umożliwienie poprawy aktywności fizycznej społeczeństwa w  mieście Opole. System ma służyć do przechowywania informacji o aktualnie wypożyczonych rowerach oraz ich stanach. Dodatkowo umożliwić klientowi wypożyczenie roweru. Aplikacja ZWR(Zarządzanie Wypożyczalnią Rowerową) pozwoli na przechowywanie informacji o klientach oraz pracownikach firmy. Tworzenia raportów pracy wypożyczalni takich jak np. częstość wypożyczania rowerów.

    Jeśli planujesz wybrać się na wycieczkę rowerową, albo potrzebujesz dodatkowego sprzętu, skorzystaj z naszej wypożyczalni rowerów.
   < Zalety wypożyczalni:<br />
    •	Możesz lepiej poznać konkretny typ roweru przed jego ostatecznym zakupem.<br />
    •	Możesz pojeździć na sprzęcie, który cię zaciekawił.<br />
    •	Możesz spędzić ciekawie weekend lub wakacje wraz ze sprzętem, z naszej wypożyczalni<br />
    Nasza misja to rzetelne prezentowanie tych produktów, które posiadają najlepszą relację ceny do jakości.


</div>
