
@{
    ViewBag.Title = "Regulamin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Regulamin</h2>

<div>
    REGULAMIN<br />
    systemu ZWR(Zarządzanie Wypożyczalnią Rowerową)<br />

    I.      Postanowienia ogólne<br />
    Niniejszy Regulamin określa zasady i warunki korzystania z systemu ZWR uruchomionego<br />
    w Opolu.
    Po wygaśnięciu umowy na obsługę ZWR, Klienci Systemu mogą nadal korzystać z usług Operatora, określonych w punkcie 4.<br />
    II.    Definicje<br />
    Regulamin – niniejszy Regulamin opisujący zasady i warunki korzystania z ZWR,
    w szczególności warunki, zakres praw i obowiązków oraz odpowiedzialność osób korzystających
    z możliwości wypożyczania rowerów w systemie ZWR. Akceptacja postanowień Regulaminu
    i spełnienie wszystkich warunków w nim określonych stanowi podstawę i warunek zezwolenia
    na wypożyczenie roweru w systemie ZWR.<br />
    Umowa – Umowa Klienta z Operatorem, ustalająca wzajemne prawa i obowiązki określone
    w Regulaminie. Uznaje się, że Umowa o treści obejmującej postanowienia niniejszego Regulaminu zostaje automatycznie zawarta w momencie rejestracji Klienta w ZWR i pod warunkiem złożenia przez Klienta oświadczenia o akceptacji Regulaminu, złożenia oświadczenia o wyrażeniu zgody na przetwarzanie danych osobowych oraz uiszczenia opłaty inicjalnej podczas procesu rejestracji Klienta w ZWR.
    Operator – ZWR Polska sp. z o.o. realizująca usługi związane z obsługą ZWR w ramach konsorcjum firm ZWR Polska Sp. z o.o., ul. Przasnyska 6b, 01-756 Warszawa. wpisanego do rejestru przedsiębiorców Krajowego Rejestru Sądowego prowadzonego przez Sąd Rejonowy dla m. st. Warszawy w Warszawie, XIII Wydział Gospodarczy Krajowego Rejestru Sądowego pod numerem KRS 0000362899, REGON 021336152, NIP 8951981007, realizująca usługi związane z obsługą ZWR
    System ZWR – uruchomiony przez Operatora system wypożyczalni rowerów obejmujących w szczególności rowery, infrastrukturę techniczną, oprogramowanie i urządzenia umożliwiające wypożyczanie rowerów.
    Klient – uczestnik Systemu ZWR, który zaakceptował Regulamin i dokonał rejestracji w Systemie ZWR.
    Serwis ZWR – wykonywane przez Operatora czynności związane z eksploatacją, naprawami i konserwacją ZWR.
    Biuro Obsługi Klienta ZWR (BOK) – uruchomiona przez Operatora platforma zapewniająca Klientom kontakt telefoniczny z Operatorem poprzez infolinię pod nr 77 550 39 39 lub 77 550 30 00, kontakt poprzez pocztę elektroniczną e-mail na adres vbok@zwr.pl oraz całodobową obsługę.
    Identyfikator Klienta – osobisty numer przydzielony Klientowi przez Operatora zapisany w wersji liczbowej, w postaci numeru telefonu komórkowego, który to numer Klient zdefiniował podczas rejestracji w ZWR oraz 6-cyfrowego nr PIN, który został podany podczas rejestracji w ZWR. W celu usprawnienia procesu wypożyczenia i zwrotu roweru w systemie ZWR Klient może wykorzystywać po aktywowaniu w Terminalu ZWR: Elektroniczną Legitymację Studencką ELS lub kartę płatniczą działającą w systemie zbliżeniowym. W trakcie wypożyczenia i zwrotu roweru są one traktowane równoważnie z Identyfikatorem Klienta. W trakcie wypożyczenia i zwrotu roweru Klient ma do dyspozycji następujące sposoby identyfikacji:
    numer telefonu komórkowego, który wraz z numerem PIN jest traktowany, jako Identyfikator Klienta,
    Elektroniczną Legitymację Studencką (ELS), zbliżeniowa, spersonalizowana karta elektroniczna (chip + RFID) posiadająca swój unikalny, zakodowany numer. wraz z numerem PIN,
    karty płatnicze – konsumenckie karty kredytowe, obciążeniowe, debetowe i przedpłacone emitowane przez organizacje płatnicze emitentów Visa International oraz Mastercard International oraz inna spełniająca wymagania dla uznania jej za elektroniczny instrument płatniczy w rozumieniu ustawy o elektronicznych instrumentach płatniczych ( t. j. Dz. U. z 2012 r., poz. 1232) wraz z numerem PIN. Terminale są przystosowane do współpracy z produktami z rodziny PayPass i PayWave,
    Tabele Opłat i Kar – cennik usług i opłat ZWR będący integralną częścią Umowy.
    Koszty naprawy i odtworzenia roweru w ZWR – cennik części i usług związanych z naprawą bądź odtworzeniem roweru
    Rachunek przedpłacony – osobiste konto Klienta w systemie rozliczeniowym Systemu ZWR, na którym realizowane są operacje uznania oraz obciążenia za korzystanie z usług i produktów oferowanych w ramach Systemu ZWR zgodnie z Tabelami Opłat i Kar. Rachunek przedpłacony może być zasilany przez Klienta wpłatą środków „z góry”, w formie przedpłaty.
    Opłata inicjalna – kwota wpisowego do systemu ZWR wynosząca 10 zł brutto (słownie: dziesięć złotych) uiszczana przez Klienta przy rejestracji w ZWR, której wniesienie stanowi pierwszą wpłatę na poczet Kwoty doładowania.
    Kwota doładowania – opłata na poczet wypożyczeń lub innych rozliczeń z Operatorem wniesiona na Rachunek przedpłacony.
    Procedura zabezpieczająca – każde postępowanie podejmowane przez Operatora w przypadku niezwrócenia roweru w wymaganym terminie i stanie, w szczególności postępowanie wyjaśniające, windykacyjne i sądowe.
    Strefa użytkowania – granice administracyjne miasta Opole.
    Wypożyczenie roweru – wypożyczenie roweru ze Stacji ZWR przy pomocy Identyfikatora Klienta lub w inny sposób opisany w punkcie II.10. Proces wypożyczenia, określa szczegółowo punkt VII. Regulaminu.
    Zwrot roweru – oddanie roweru do ZWR Proces zwrotu, określa punkt X Regulaminu. Zwrot rowerów cargo patrz załącznik nr 3.
    Bon promocyjny – Operator przewiduje możliwość doładowania konta założonego w systemie ZWR za pomocą bonu. Kwota bonu oraz jej przeznaczenie ustalana jest przez Operatora i jest ona bezzwrotna tzn. nie ma możliwości wypłacenia środków z bonu. Środki z bonów wykorzystywane są w pierwszej kolejności, przed środkami wpłaconymi przez Klienta. W przypadku Bonów promocyjnych szczegóły dotyczące kwoty, terminu ważności i powodu przyznania określane są w Regulaminie promocji.<br />

    Blokada konta – środek prewencyjny z którego może skorzystać Operator. W przypadku naruszenia postanowień niniejszego Regulaminu, w szczególności skutkującego powstaniem szkody na rzecz Operatora, Operator zastrzega sobie prawo blokady konta Klienta do czasu wyjaśniania sprawy.
    III.  Zasady ogólne korzystania z ZWR<br />
    Warunkiem korzystania z Systemu ZWR jest podanie przez Klienta: wymaganych przy rejestracji danych osobowych, akceptacja warunków określonych w niniejszym Regulaminie, dokonanie opłaty inicjalnej. Warunkiem korzystania z ZWR jest ponadto utrzymanie minimalnego stanu konta doładowania Klienta w momencie każdego wypożyczenia w wysokości co najmniej 10 zł (słownie: dziesięć złotych).
    Operator wypożycza Klientowi rower na warunkach określonych w Regulaminie. Klient zobowiązuje się przestrzegać warunków Regulaminu, w szczególności zapłacić umówioną opłatę oraz używać roweru zgodnie z Regulaminem.
    Osoby, które ukończyły 13 lat, a nie ukończyły 18-go roku życia (zwane dalej małoletnimi), są zobowiązane przed zawarciem Umowy do przekazania Operatorowi pisemnej zgody co najmniej jednego z rodziców lub opiekunów prawnych na zawarcie Umowy oraz oświadczenia o przejęciu przez nich odpowiedzialności z tytułu ewentualnych szkód, powstałych w szczególności w związku z niewykonaniem lub nienależytym wykonaniem Umowy oraz pokrywania bieżących zobowiązań określonych w Tabelach Opłat i Kar oraz Kosztach naprawy i odtworzenia roweru w Systemie ZWR w taki sposób aby w momencie wypożyczenia konto było aktywne (VII, pkt. 1). Do zachowania pisemnej formy czynności prawnej Opiekun zobowiązany jest złożyć własnoręczny podpis na zgodzie. W oświadczeniu rodzice lub opiekunowie prawni muszą zobowiązać się do uzupełniania konta małoletniego w Systemie ZWR. Zgoda musi być wysłana drogą elektroniczną na adres e-mail bok@zwr.pl lub pocztą na adres Operatora.
    Warunkiem koniecznym korzystania przez osoby małoletnie z wypożyczonego roweru jest posiadanie ważnej karty rowerowej lub motorowerowej.
    Osoby niepełnoletnie, poniżej 13 roku życia, mogą korzystać z rowerów pod opieką rodzica lub opiekuna prawnego.
    Klient może wypożyczyć jednocześnie do czterech rowerów. Po uprzedniej rezerwacji możliwe jest zwiększenie liczby rowerów przy jednoczesnym wypożyczeniu. W przypadku wynajmu więcej niż 1 roweru Klient powinien doładować środki o kwotę, którą zamierza wykorzystać na przejazdy
    Użytkowanie wypożyczonego roweru jest dozwolone w Strefie użytkowania.

    IV.   Odpowiedzialność / Zobowiązanie<br />
    Klient jest odpowiedzialny za użytkowanie roweru zgodnie z jego przeznaczeniem i warunkami Regulaminu.
    Klient zobowiązuje się oddać rower sprawny technicznie, w takim samym stanie jak w momencie wypożyczenia, a w przypadku wystąpienia awarii roweru w trakcie wypożyczenia, powinien postępować zgodnie z pkt VII., 6 poniżej. Nie dotyczy awarii eksploatacyjnych, tj. przebita dętka, spadnięcie łańcucha. Klient ponosi odpowiedzialność za skutki zdarzeń wynikających z naruszenia przez niego obowiązującego prawa przy korzystaniu z Systemu ZWR.
    Korzystanie z rowerów Systemu ZWR może się odbywać wyłącznie w celach niekomercyjnych.
    Klient jest odpowiedzialny za rower / wszystkie rowery wypożyczone przy równoczesnym wypożyczeniu kilku rowerów od momentu wypożyczenia ze Stacji ZWR do momentu zwrotu do Stacji ZWR. W szczególności Klient zobowiązany jest podjąć działania celem zapobieżenia uszkodzeniom oraz kradzieży wypożyczonego roweru, zaistniałe od chwili wypożyczenia roweru z dowolnej Stacji ZWR do momentu zwrotu roweru na dowolnej Stacji ZWR.
    W przypadku kradzieży roweru dokonanej podczas wypożyczenia Klient ma obowiązek powiadomić o tym BOK ZWR maksymalnie w ciągu 12 godzin od stwierdzenia kradzieży.
    Zabronione jest korzystanie z rowerów Systemu ZWR przez osoby będące pod wpływem alkoholu lub innych środków odurzających, substancji psychotropowych lub środków zastępczych w rozumieniu przepisów o przeciwdziałaniu narkomanii; silnych leków przeciwalergicznych, innych leków, które z definicji zabraniają lub zalecają powstrzymanie się od kierowania pojazdami.
    Klient ponosi pełną i całkowitą odpowiedzialność oraz zobowiązuje się do pokrycia wszelkich mandatów, opłat itp., otrzymanych przez Klienta, związanych z korzystaniem z roweru i nałożonych przez niego z własnej winy. Klient nie ponosi odpowiedzialności za mandaty, opłaty itp. które zostały na niego nałożone, a wynikają z winy Operatora.
    W przypadku udowodnionych zniszczeń wynikłych z niewłaściwego użytkowania sprzętu wchodzącego w skład Systemu ZWR, Klient zgadza się pokryć koszty naprawy i odtworzenia sprzętu do stanu pierwotnego, sprzed wypożyczenia lub uszkodzenia. Za wykonanie niezbędnych napraw Operator wystawi Klientowi odpowiedni rachunek lub fakturę VAT. Operator jest uprawniony do pobrania kwoty równej kosztom naprawy i odtworzenia roweru z kwoty  doładowania Klienta, na co Klient niniejszym wyraża zgodę Wycena poszczególnych części roweru, które zostały uszkodzone z winy Klienta będzie dokonana w oparciu o Załącznik nr 2 do niniejszego Regulaminu zwany „Koszty naprawy i odtworzenia roweru w Systemie ZWR”.
    W przypadku niepoprawnego zwrotu roweru z winy Klienta, Klient ponosi koszty jego dalszego wypożyczenia oraz odpowiada za ewentualną kradzież i zniszczenia. W przypadku trudności ze zwrotem roweru Klient ma obowiązek skontaktować się z BOK ZWR.
    Jakiekolwiek celowe zniszczenie własności Operatora będzie skutkować koniecznością poniesienia przez niszczącego kosztów naprawy lub odtworzenia, a w konsekwencji może skutkować wszczęciem postępowania sądowego. Operatorowi przysługuje prawo do dochodzenia pokrycia wszelkich uzasadnionych kosztów, w tym kosztów obsługi prawnej, od sprawcy uszkodzeń i zniszczeń.
    Klient odpowiada za ewentualne szkody powstałe w następstwie niewykonania lub nienależytego wykonania Umowy do pełnej wysokości, przy czym jednym z elementów szkody może być tzw. koszt odtworzenia roweru określony w Tabelach Opłat i Kar oraz tabeli Koszty naprawy i odtworzenia roweru w Systemie ZWR.
    Użytkownikom zabrania się przewozu rowerów danego systemu samochodami i innymi środkami transportu, należącymi do osób prywatnych, nie wliczając Środków Transportu Miejskiego.
    V.     Rejestracja<br />
    Koniecznym warunkiem korzystania z Systemu ZWR jest uprzednia rejestracja Klienta oraz wniesienie Opłaty inicjalnej.
    Rejestracja odbywa się w portalu internetowym. Dodatkowo dopuszcza się możliwość rejestracji w BOK, poprzez kontakt telefoniczny z pracownikiem BOK oraz przy pomocy karty płatniczej z możliwością obciążenia w Terminalu ZWR, a także za pomocą aplikacji ZWR, dostępnej na urządzeniach z systemem iOS,  Android i Windows.
    Podczas procesu rejestracji poprzez stronę, aplikację ZWR lub kontakt telefoniczny z pracownikiem BOK wymagane jest podanie następujących danych osobowych:
    imienia i nazwiska,<br />
    adresu kontaktowego, tj. miasta, ulicy wraz z nr domu/mieszkania, kodu pocztowego, kraju, adresu e-mail,<br />
    numer PESEL<br />
    numeru telefonu komórkowego,<br />
    numeru karty płatniczej w przypadku płatności kartą płatniczą z możliwością obciążenia,<br />
    wykształcenie (opcjonalnie)<br />
    zawód (opcjonalnie)<br />
    Podczas procesu rejestracji w Terminalu ZWR Klient podaje następujące dane osobowe, które ma obowiązek uzupełnić o pozostałe dane wymienione w punkcie 3, podpunkty b i c, najpóźniej do 24 godzin po rejestracji.:
    numer telefonu komórkowego.<br />
    imię i nazwisko,<br />
    numer karty płatniczej z możliwością obciążenia.<br />
    Konta Klientów z saldem 0 zł, zawierające niepoprawne dane osobowe, mogą być automatycznie usuwane z bazy systemu ZWR.
    W trakcie procesu rejestracji przy Terminalu ZWR Klient wprowadza ustalony przez siebie kod PIN. Natomiast podczas rejestracji przez: stronę internetową, aplikację na Androida oraz BOK – PIN jest generowany automatycznie. Po zakończeniu rejestracji, Klient otrzymuje potwierdzenie z Systemu ZWR o udanej rejestracji oraz swój indywidualny PIN, który wraz z podanym numerem telefonu komórkowego stanowi Identyfikator Klienta w Systemie ZWR.
    Warunkiem zarejestrowania jest podanie prawdziwych danych, akceptacja warunków określonych w niniejszym Regulaminie oraz wyrażenie zgody na przetwarzanie danych osobowych zgodnie z ustawą z dnia 29 sierpnia 1997 r. o ochronie danych osobowych w celu wykonywania Umowy (tj. Dz. U. nr 1182 z 2014 r.). Klient ma prawo dostępu do treści swoich danych osobowych oraz możliwość ich poprawienia, uzupełnienia lub zmiany. Administratorem danych osobowych jest ZWR Polska Sp. z o.o. z siedzibą w Warszawie   01-756, ul. Przasnyska 6b. Podanie danych osobowych jest dobrowolne, ale konieczne; brak podania danych osobowych uniemożliwia skorzystanie z usługi i Systemu ZWR. Informacje na temat bezpieczeństwa danych osobowych są dostępne w Polityce Prywatności ZWR Polska. Dane osobowe przetwarzane są wyłącznie na potrzeby działania systemów ZWR i mogą być udostępniane innym podmiotom współpracującym z ZWR wyłącznie w ramach obowiązujących przepisów prawa w związku z realizacją umowy.
    Operator zastrzega sobie możliwość kontaktowania się z Klientem w sprawach związanych z realizacją Umowy .
    Klient może ponadto wyrazić zgodę na przesyłanie za pomocą sms, poczty elektronicznej materiałów informacyjnych dotyczących usług świadczonych przez Operatora w ramach ZWR, a także anonimowych ankiet przesyłanych za pośrednictwem poczty elektronicznej, bądź udostępnianych bezpośrednio w Systemie ZWR, służących zbieraniu przez Operatora od Klientów ZWR danych demograficznych i profilowych niebędących danymi osobowymi (takich jak wykształcenie, zatrudnienie, wiek). Dane te wykorzystywane będą do badania preferencji Klientów i dostosowywania oferty Operatora do ich oczekiwań, jak również do analiz statystycznych i tworzenia zbiorowego wizerunku Klientów przekazywanego partnerom marketingowym Operatora. Otrzymywanie materiałów informacyjnych oraz ujawnienie ww. danych jest zawsze dobrowolne, a Klient w każdej chwili może zrezygnować z otrzymywania materiałów informacyjnych albo ankiet.
    Treść poszczególnych transakcji / wypożyczeń jest udostępniona wyłącznie stronom Umowy. Każdy Klient, który dokonał procedury rejestracji, po zalogowaniu, posiada dostęp do wszystkich swoich transakcji / wypożyczeń przez okres ich przechowywania w systemie informatycznym. Dane Klienta dotyczące poszczególnych transakcji / wypożyczeń przechowywane są przez system informatyczny ZWR. Jeżeli nie ma zaległości w zakresie opłat za użytkowanie rowerów dane są usuwane niezwłocznie po złożeniu przez Klienta wniosku o ich usunięcie, nie wcześniej jednak niż po upływie 2 lat, a w przypadku wniesienia reklamacji dane te przechowywane są do wyczerpania procedury reklamacyjnej i ewentualnego postępowania nią wywołanego, rozpoznania roszczenia Klienta, dla celów dowodowych. W razie zgłoszenia w tym terminie (np. zadośćuczynienia, naprawienia szkody) – dane są przetwarzane w czasie ustalenia ewentualnej odpowiedzialności Operatora / Klienta i wykonania zapadłego w sprawie orzeczenia.
    Dane osobowe są przetwarzane, przechowywane i zabezpieczone zgodnie z zasadami określonymi w obowiązujących przepisach prawa.
    Administrator danych osobowych – Operator zobowiązuje się do zachowania poufności danych osobowych i nie ujawniania ich innym podmiotom, chyba że Klient wyraźnie go do tego upoważni, albo upoważnienie takie wynikać będzie z przepisu prawa. Zobowiązanie to pozostaje w mocy po wygaśnięciu stosunku prawnego łączącego Wypożyczającego z Operatorem.
    W celu dostosowania treści i usług do indywidualnych potrzeb i zainteresowań Klientów, Operator używa tzw. cookies, tj. informacji zapisywanych przez serwer Serwisu na komputerze Klienta, które serwer może odczytać przy każdorazowym połączeniu się z tego komputera. Cookies dostarczają danych statystycznych o ruchu Klientów i korzystaniu przez nich z poszczególnych stron ZWR oraz umożliwiają sprawne świadczenie Usług. Klient w każdej chwili ma możliwość wyłączenia w swojej przeglądarce opcji przyjmowania cookies, jednakże może to spowodować utrudnienia, a nawet uniemożliwić korzystanie z Systemu ZWR.
    VI.   Formy Płatności<br />
    Płatność za usługi i produkty oferowane w ramach Systemu ZWR może być dokonywana poprzez:
    obciążenie rachunku karty płatniczej Klienta, z którym wiąże się pobranie opłaty min. 10 zł, lub
    zasilenie Rachunku Przedpłaconego za pomocą przelewu bankowego lub poprzez płatność kartą płatniczą w szczególności przez portal, z którego środki będą pobierane w wysokości wynikającej z Tabel Opłat i Kar, a następnie przekazywane na rachunek Operatora.
    Uruchomienie zlecenia obciążenia karty płatniczej następuje w momencie gdy konto nie jest aktywne. Można tego dokonać, poprzez wprowadzenie numeru karty płatniczej tj.: kredytowej, obciążeniowej w Terminalu ZWR, podczas kontaktu z BOK, a także za pomocą aplikacji ZWR, dostępnej na urządzeniach z systemem iOS,  Android i Windows .
    Forma płatności może być wielokrotnie wybierana, po zalogowaniu się na stronie. Aby zrezygnować z obciążanie rachunku karty płatniczej, należy się w tej sprawie skontaktować z Centrum Kontaktu.
    Wszelkie płatności są przekazywane na rachunek Operatora.
    Na życzenie Klienta Operator wystawi fakturę VAT tylko i wyłącznie za płatny przejazd. W tym celu Klient skontaktuje się z Operatorem drogą elektroniczną na adres e-mail Operatora, poprzez wskazanie danych niezbędnych do wystawienia faktury VAT, daty i godziny wypożyczenia roweru oraz numeru roweru.
    Operator wyśle fakturę VAT w formie elektronicznej na adres e-mail, z którego kontaktował się Klient. W szczególnie uzasadnionych przypadkach Operator może wysłać fakturę VAT na inny adres e-mail, wskazany przez Klienta.
    VII. Wypożyczenie<br />
    Wypożyczenie roweru jest możliwe gdy Klient posiada aktywny status konta. Przez aktywny status konta rozumie się:
    posiadanie na Rachunku przedpłaconym minimalnej kwoty 10 zł brutto, poprzez zasilenie przelewem lub jednorazową wpłatą przy użyciu karty płatniczej,
    zdefiniowanie jako formy płatności karty płatniczej z możliwością obciążenia, przy terminalu lub poprzez kontakt z BOK, z której to środki pobierane są automatycznie.
    Wypożyczenie roweru jest możliwe w dowolnej Stacji ZWR po uprzednim uruchomieniu Terminala ZWR, zalogowaniu się swoim Identyfikatorem Klienta oraz postępowaniu zgodnie z wyświetlanymi na urządzeniu Terminala ZWR komunikatami. Rower można wypożyczyć w Systemie również: za pomocą Terminala ZWR, przy pomocy aplikacji ZWR, dostępnej na urządzeniach z systemem iOS,  Android i Windows, telefonicznie – dzwoniąc pod numery podane na terminalu: 77 550 39 39 lub 77 550 30 00 (automat zgłoszeniowy – koszt połączenia zgodny z taryfami operatorów).
    Wypożyczenie rozpoczyna się w momencie zakończenia procedury wypożyczenia opisanej w pkt. 2.
    Podczas wypożyczenia Klient otrzymuje numer do zamka szyfrowego w wypożyczanym rowerze. Numer ten do czasu zwrotu roweru można potwierdzić w Terminalu ZWR, aplikacji ZWR oraz w BOK. Klient zobowiązuje się upewnić, że rower posiada linkę zabezpieczającą, zwaną także obejmą, przed wypożyczeniem. W przypadku jej braku Klient zobligowany jest skontaktować się z BOK i poinformować o jej braku.
    Obowiązkiem Klienta jest upewnienie się, przed jazdą, że rower jest przydatny do umówionego użytku, w szczególności, że opony roweru są napompowane, a hamulce sprawne. Po odbezpieczeniu roweru, Klient jest zobowiązany zabezpieczyć linkę w sposób uniemożliwiający jej wkręcenie się w koło.
    W przypadku stwierdzenia podczas wypożyczenia lub używania roweru jakiejkolwiek usterki roweru Klient zobowiązany jest do niezwłocznego zgłoszenia problemu do BOK i odstawienia roweru do najbliższej Stacji ZWR.
    Wypożyczenie i korzystanie przez Klienta z niesprawnego roweru może skutkować jego odpowiedzialnością za usterki lub szkody z tego wynikające, w przypadku gdy Klient mógł dostrzec niesprawność roweru.
    Rekomenduje się, aby Klient w trakcie wypożyczenia posiadał zdolny do wykonywania połączeń z BOK telefon komórkowy.
    Koszyk zamontowany z przodu roweru jest dostosowany wyłącznie do przewożenia lekkich przedmiotów. W celu zachowania bezpieczeństwa oraz w obawie przed zniszczeniem roweru, nie wolno wkładać tam żadnych ciężkich rzeczy. Maksymalna masa wkładu do koszyka nie może przekraczać 5 kg. Przedmioty wkładane do koszyka nie mogą wystawać ponad obręcz kosza, nie powinny również zawierać żadnych ostrych krawędzi. Jeśli wypadek nastąpi z przyczyn niewłaściwego wykorzystania koszyka, Klient ponosi odpowiedzialność oraz koszty z tego wynikające. Operator nie ponosi odpowiedzialności za uszkodzenia oraz pozostawienie przewożonych w koszyku towarów lub przedmiotów.
    Maksymalna waga Klienta i bagażu nie może przekroczyć 120 kg.
    W przypadku jakichkolwiek problemów z wypożyczeniem lub zwrotem roweru ze Stacji ZWR Klient jest zobowiązany do kontaktu telefonicznego z BOK. Pracownik BOK poinformuje Klienta o dalszej procedurze działania. Wypożyczony rower powinien być użytkowany zgodnie z jego przeznaczeniem. Rower ZWR jako środek transportu miejskiego służy do przemieszczania się między Stacjami ZWR. Nie wolno używać rowerów ZWR w celu wycieczek górskich, skoków, sztuczek kaskaderskich, nie wolno ścigać się oraz wykorzystywać roweru dla ciągnięcia lub pchania czegokolwiek.
    Procedura użytkowania rowerów cargo została opisana w oddzielnym załączniku nr 3 pt. „Regulamin użytkowania rowerów cargo w systemie ZWR”.
    VIII.      Czas trwania wypożyczenia<br />
    Klient ma obowiązek zwrócić rower najpóźniej z upływem dwunastej godziny wypożyczenia.
    Przekroczenie dwunastu godzin czasu jednorazowego wypożyczenia powoduje naliczenie opłat i kar, zgodnie z Tabelami Opłat i Kar.
    IX.   Naprawy i Awarie
    Wszelkie awarie powinny być zgłaszane telefonicznie do BOK maksymalnie w ciągu 12 godzin od wypożyczenia roweru w systemie. W przypadku każdej awarii uniemożliwiającej dalszą jazdę, Klient jest zobowiązany zatrzymać się i powiadomić telefonicznie BOK oraz odprowadzić rower do najbliższej Stacji ZWR.
    Zabronione jest samodzielne dokonywanie jakichkolwiek napraw, modyfikacji, wymiany części w wypożyczonym rowerze. Jedynym uprawnionym podmiotem do tych działań jest Serwis ZWR.
    Na Kliencie ciąży obowiązek posiadania możliwości nawiązania kontaktu z BOK przez cały czas wypożyczenia roweru.
    X.     Zwrot<br />
    Klient jest zobowiązany do zwrotu roweru w Systemie ZWR w dowolnej Stacji ZWR. Wypożyczający zwraca rower poprzez wpięcie mechanizmu dokującego roweru do wolnego zamka znajdującego w dowolnej Stacji ZWR. Wypożyczający ma obowiązek upewnić się, że rower został zapięty w sposób uniemożliwiający jego nieautoryzowane odpięcie. Elementem wymaganym przy zakończeniu wypożyczenia jest spięcie roweru ze stojakiem elastycznym zamkiem szyfrowym oraz jego zablokowanie.
    W przypadku braku wolnego stojaka w Stacji ZWR Wypożyczający jest zobowiązany do zamknięcia roweru przy użyciu wyłącznie elastycznego zamka szyfrowego, przypinając go do dowolnego stałego elementu, znajdującego się nie dalej niż około 10 m od Stacji ZWR, zablokowania zamka, naciśnięcia przycisku „Zwrot” na części elektronicznej terminala oraz postępowania zgodnego z instrukcją na Terminalu ZWR. Rower można zwrócić w Systemie również telefonicznie – dzwoniąc pod numery podane na terminalu: 77 550 39 39 lub 77 550 30 00.
    W przypadku niepoprawnego zwrotu roweru, o którym mowa w punktach X.1. oraz X.2. Klient ponosi koszty jego dalszego wypożyczenia oraz odpowiada za ewentualną kradzież.
    Na Kliencie spoczywa obowiązek prawidłowego zwrotu i zabezpieczenia roweru, zgodnie z punktami X.1 oraz X.1, pod rygorem:
    a. Naliczenia opłat za użytkowanie roweru zgodnie z przyjętym cennikiem, a w przypadku wypożyczenia trwającego dłużej niż 12 godzin naliczenie dodatkowej opłaty w wysokości 200zł. >
    b. Naliczenia kary za utratę, kradzież lub zniszczenie roweru zgodnie z Załącznikiem nr 1 oraz Załącznikiem nr 2 niniejszego Regulaminu.
    c. Czasowego lub stałego zablokowania konta Klienta.
    W przypadku, gdy podczas wypożyczenia roweru dojdzie do wypadku lub kolizji Klient zobowiązuje się spisać oświadczenie lub wezwać na miejsce zdarzenia policję. Jeśli podczas zdarzenia zostanie uszkodzony rower, wszelkie opłaty związane z przywróceniem roweru do stanu sprzed wypadku/kolizji ponosi osoba odpowiedzialna za zajście po uprzednim okazaniu odpowiedniego dokumentu ze wskazaniem sprawcy – w przypadku, gdy istnieje taka możliwość. W innym przypadku wszelkie koszty związane z naprawą ponosi właściciel konta. Ponadto w przypadku wystąpienia powyższego zdarzenia Klient zobligowany jest poinformować o powyższym BOK ZWR maksymalnie do 2 dni od zdarzenia.
    Procedura użytkowania rowerów cargo została opisana w oddzielnym załączniku nr „Regulamin użytkowania rowerów cargo w systemie ZWR”.
    XI.   Opłaty<br />
    Opłaty naliczane są według stawek podanych w Tabelach Opłat i Kar, będących załącznikiem do Regulaminu, dostępnych na Terminalach ZWR. Podstawą wyliczenia opłaty jest liczba minut wypożyczenia liczona od momentu wypożyczenia roweru w Terminalu ZWR, bądź otrzymania kodu szyfrowego otwierającego linkę zabezpieczającą, do czasu poprawnego zwrotu lub uzyskania potwierdzenia z Systemu ZWR o przyjęciu zwrotu roweru.
    Opłaty za korzystanie z wypożyczalni są zróżnicowane i uzależnione od długości czasu wypożyczenia roweru. Opłata za jednorazowe wypożyczenie jest sumą należności za kolejne przedziały czasowe, np. koszt 150-minutowego wypożyczenia wynosi 10,00 zł.
    Czas naliczania opłat jest podzielony na jednogodzinne okresy za wyjątkiem pierwszej godziny wypożyczenia, podczas której wydziela się okres pierwszych dwudziestu minut wypożyczenia.
    W przypadku, gdy naliczone opłaty za jazdę przekraczają posiadane środki, Klient ma obowiązek doładować swój Rachunek przedpłacony co najmniej do salda równego 0 zł w terminie 7 dni. W przypadku nieuregulowania należności, Operator zastrzega sobie prawo do podjęcia odpowiednich kroków prawnych przeciwko Klientowi mających na celu uzyskania zapłaty z tytułu wykonanej Umowy. Operator ma prawo do naliczania odsetek ustawowych od zaległych kwot od dnia wymagalności do dnia faktycznego dokonania płatności w pełnej wysokości.
    W trakcie trwania umowy z Operatorem systemu ZWR opłaty na poczet wypożyczeń (kwota doładowania) nie podlegają zwrotowi.
    W przypadku udowodnionych nadużyć związanych z niewłaściwym wykorzystywaniem, w szczególności dokonywanie nieautoryzowanych wypożyczeń rowerów, Klient zostaje obciążony karą przewidzianą w Tabeli Opłat i Kar ZWR.
    XII.         Odpowiedzialność<br />
    1      Operator realizuje usługi związane z obsługą ZWR i ponosi odpowiedzialność za jego należyte funkcjonowanie.
    Operator nie ponosi odpowiedzialności za szkody bezpośrednie ani następcze oraz utracone korzyści powstałe w wyniku nienależytego wykonania Umowy przez Klienta, ani za inne szkody, za które odpowiedzialny jest Klient z wyłączeniem szkód wyrządzonych przez Operatora z winy umyślnej.
    Wszelkie roszczenia i wynikające z nich reklamacje Klienci powinni kierować pod adresem Operatora.
    Operator zastrzega sobie prawo do udostępniania danych Klienta, jeżeli obowiązek udostępnienia uprawnionym osobom wynika z obowiązujących przepisów prawa.

    XIII.      Reklamacje<br />
    Klient powinien zgłosić reklamację w terminie 7 dni od daty zdarzenia, będącego przyczyną reklamacji. Wszystkie reklamacje dotyczące usług świadczonych na podstawie Regulaminu można składać:
    a)      drogą elektroniczną na adres e-mail bok@zwr.pl<br />
    b)     pocztą na adres pocztowy Operatora podany w punkcie  I.3<br />
    c)     osobiście w siedzibie Operatora<br />
    Jeżeli podane w reklamacji dane lub informacje wymagają uzupełnienia, przed rozpatrzeniem reklamacji Operator zwraca się z prośbą do składającego reklamację o jej uzupełnienie we wskazanym zakresie.
    Reklamacje, które nie zawierają danych takich jak: imię, nazwisko, adres, nr PESEL, pozwalających na identyfikację Klienta, Operator pozostawi bez rozpoznania.
    Zgłoszenie Reklamacji nie zwalnia Klienta z obowiązku terminowej realizacji zobowiązań wobec Operatora.
    Operator rozpoznaje reklamację w terminie 14 dni od daty jej otrzymania lub uzupełnienia, a w sprawach szczególnie skomplikowanych w terminie do 30 dni, zaś, gdy reklamacja dotyczy transakcji dokonanej przy użyciu karty płatniczej, wyjątkowo do 90 dni od daty jej wniesienia. W przypadku konieczności uzupełnienia reklamacji, termin do rozpatrzenia reklamacji zaczyna biec od dnia doręczenia do Operatora dokumentów uzupełniających lub dodatkowych wyjaśnień/informacji. W przypadku niemożności dotrzymania terminu rozpatrzenia reklamacji, Operator poinformuje Klienta o opóźnieniu, wskazując przyczynę opóźnienia (okoliczności, które muszą zostać ustalone) i przewidywany termin rozpatrzenia reklamacji.
    Proces rozpatrywania reklamacji rozpoczyna się bezzwłocznie po jej otrzymaniu przez Operatora. Cechuje się rzetelnością, wnikliwością, obiektywizmem, oraz poszanowaniem powszechnie obowiązujących przepisów prawa i dobrych obyczajów.
    Klient wyraża zgodę na to, by odpowiedź na reklamację wysyłana została pocztą elektroniczną lub pocztą na adres korespondencyjny w sposób wskazany w reklamacji. W szczególnie uzasadnionych przypadkach Operator może wysłać odpowiedź na inny adres e-mail, wskazany przez składającego reklamację.
    Rozpatrzenie reklamacji polega na identyfikacji problemu, ocenie jego zasadności oraz rozstrzygnięciu problemu zgłoszonego przez Klienta lub podjęciu stosownych działań w celu usunięcia ewentualnych nieprawidłowości, przyczyn ich powstania oraz udzieleniu wyczerpującej, profesjonalnej w formie i treści odpowiedzi.
    BOK udziela odpowiedzi, która zawiera stanowisko Operatora w sprawie reklamacji, uzasadnienie oraz informację o trybie odwoławczym.
    Klient ma prawo odwołania się od decyzji wydanej przez BOK. Odwołania powinny być wysyłane niezależnie od sposobu dostarczenia – list, e-mail – nie później niż w terminie 14 dni od doręczenia Klientowi decyzji, od której chce się odwołać. Odwołanie będzie rozpatrzone w terminie 14 dni od dnia jego wpłynięcia do BOK.
    Klient może:
    a)     skierować odwołanie od decyzji Operatora bezpośrednio do BOK w  ciągu 14 dni od daty otrzymania odpowiedzi na reklamację;<br />
    b)     wystąpić z powództwem do właściwego sądu powszechnego.<br />
    Odstąpienie od Umowy
    Klient może odstąpić od Umowy zawartej z Operatorem – na podstawie przepisów prawa, bez podania przyczyny, w terminie 14 dni od dnia jej zawarcia. Termin uznaje się za zachowany jeśli przed jego upływem konsument wyśle oświadczenie o odstąpieniu od Umowy.
    Klient może odstąpić od Umowy poprzez:<br />
    a) przesłanie do Operatora na adres email bok@zwr.pl,  oświadczenia o odstąpieniu od Umowy,<br />
    b) przesłanie do Operatora na adres pocztowy podany w punkcie I.3 pisemnego oświadczenia o odstąpieniu od Umowy. W tym celu Klient może skorzystać z formularza odstąpienia od Umowy zawartego w załączniku nr 2 do ustawy o prawach konsumenta (Dz. U. z 2014 r., poz. 827 z późn. zm.), jednak nie jest to obowiązkowe.
    W przypadku odstąpienia od Umowy, Umowa jest uważana za niezawartą. W razie odstąpienia od Umowy każda ze stron ma obowiązek zwrócić drugiej wszystko, co otrzymała na mocy Umowy. Zwrot świadczeń następuje najpóźniej w terminie 14 dni od dnia otrzymania przez Operatora oświadczenia o odstąpieniu od Umowy. Zwrot płatności dokonywany jest przy użyciu takich samych sposobów płatności, jakie zostały przez Klienta użyte w pierwotnej transakcji, chyba że w oświadczeniu o odstąpieniu od Umowy, Klient zgodził się na inne rozwiązanie. Inne rozwiązanie powinno być wskazane przez Klienta w składanym oświadczeniu.
    Prawo odstąpienia od Umowy nie przysługuje Klientowi w odniesieniu do umów wymienionych w art. 38 ustawy o prawach konsumenta (Dz. U. z 2014 r., poz. 827 z późn. zm.), a w szczególności nie jest możliwe po zrealizowaniu Umowy.
    XV.  Wypowiedzenie Umowy na wniosek Klienta<br />
    Klient ma prawo wypowiedzieć Umowę. Wypowiedzenie w formie pisemnej należy przesłać na adres elektroniczny bok@zwr.pl lub adres pocztowy Operatora.
    Rozwiązanie Umowy następuje w terminie 14 dni od daty doręczenia wypowiedzenia Operatorowi, pod warunkiem uzupełnienia przez Klienta w powyższym terminie środków na Rachunku przedpłaconym do salda 0 zł. Brak uzupełnienia środków w powyższym terminie powoduje bezskuteczność wypowiedzenia Umowy.
    Jeżeli środki na Rachunku przedpłaconym przekraczają 0 zł w dniu rozwiązania Umowy, zostaną one zwrócone na rachunek bankowy wskazany przez Klienta chyba, że w Wypowiedzeniu Umowy, Klient zgodził się na inne rozwiązanie. Inne rozwiązanie powinno być wskazane przez Klienta w składanym oświadczeniu. Zwrot środków nastąpi maksymalnie w terminie do 30 dni od daty rozwiązania Umowy. Zwracana kwota zostanie pomniejszona o koszty przelewu.
    XVI.Postanowienia końcowe<br />
    Akceptacja niniejszego Regulaminu oraz wypożyczenie roweru są równoznaczne z: oświadczeniem o stanie zdrowia umożliwiającym bezpieczne poruszanie się na rowerze; umiejętnością jazdy na rowerze; posiadaniem wymaganych przepisami prawa uprawnieniami oraz znajomością przepisów ruchu drogowego.
    Operator zastrzega sobie prawo rozwiązania Umowy za 14 dniowym okresem wypowiedzenia, gdy Klient łamie postanowienia niniejszego Regulaminu (np. brak akceptacji nowego Regulaminu, niezwrócenie roweru w wymaganym terminie), zaś Klientowi przysługują, w stosunku do Operatora, roszczenia związane ze zwrotem środków na Rachunku Przedpłaconym, o ile wcześniej nie zostały wykorzystane przez Operatora na pokrycie wymagalnych zobowiązań obciążających Klienta.
    Operator jest uprawniony do wprowadzenia zmian w Regulaminie lub Polityce Prywatności ze skutkiem na przyszłość. Informacja o zmianach do niniejszego Regulaminu lub Polityki Prywatności będzie przesyłana na adres e-mail Klienta podany pod czas rejestracji. Brak pisemnej informacji o braku akceptacji zmiany Regulaminu lub Polityki Prywatności  przesłanej do BOK w terminie 14 dni od dnia jej wysłania do Klienta, oznacza akceptację wprowadzonych zmian w Regulaminie przez Klienta.
    W kwestiach nieuregulowanych w niniejszym Regulaminie zastosowanie mają obowiązujące przepisy prawa w szczególności Kodeks Cywilny oraz ustawa Prawo o ruchu drogowym.
    W przypadku rozbieżności pomiędzy wersją polską, a obcojęzyczną wersją językową Regulaminu, podstawą interpretacji będzie wersja polska Regulaminu.
    Komunikat w sprawie pozasądowego rozstrzyganie sporów<br />
    Zgodnie z rozporządzeniem Parlamentu Europejskiego i Rady (UE) Nr 524/2013 z dnia 21 maja 2013 r. w sprawie internetowego systemu rozstrzygania sporów konsumenckich oraz zmiany rozporządzenia (WE) nr 2006/2004 i dyrektywy 2009/22/WE (rozporządzenie w sprawie ODR w sporach konsumenckich), ZWR Polska S.A. niniejszym udostępnia łącze elektroniczne do internetowej platformy ODR (online dispute resolution): https://webgate.ec.europa.eu/odr. Platforma ODR umożliwia pozasądowe rozstrzyganie sporów między przedsiębiorcami i konsumentami. Rozstrzyganie sporów tą metodą ma charakter dobrowolny.
    TABELE OPŁAT I KAR ZWR<br />
    Rodzaj opłat.	Wartość brutto<br />
    Opłata inicjalna.	10 zł<br />
    Opłata za wypożyczenie roweru.	Czas wypożyczenia:<br />
    od 1 do 20 minuty	0 zł<br />
    od 21 do 60 minuty	2 zł<br />
    Druga i każda następna godzina	4 zł<br />
    Powiadomienie listowne odnośnie naruszenia Regulaminu.	10 zł<br />
    Opłata za przekroczenie 12 godzin wypożyczenia.	200 zł<br />


    Kary.<br />
    Kradzież, utrata lub zniszczenie roweru tradycyjnego.	2000 zł<br />
    Kradzież, utrata lub zniszczenie roweru typu Cargo uzależnione od wielkości uszkodzonych elementów.	maks. 7000 zł<br />
    Podane w Tabeli opłaty zawierają podatek VAT.<br />

    Załącznik nr 2 Koszty naprawy i odtworzenia roweru w Systemie ZWR.<br />

    NAZWA	j.m.	CENA*	VAT 23%	OGÓŁEM<br />
    Adapter widelca	szt.	84,00 zł	19,32 zł	103,32 zł<br />
    Błotnik przód	szt.	9,50 zł	2,19 zł	11,69 zł<br />
    Błotnik tył	szt.	9,50 zł	2,19 zł	11,69 zł<br />
    Chip	szt.	24,78 zł	5,70 zł	30,48 zł<br />
    Dętka 26 x 2.125	szt.	8,40 zł	1,93 zł	10,33 zł<br />
    Dzwonek	szt.	3,60 zł	0,83 zł	4,43 zł<br />
    Dźwignia hamulca, prawa strona	szt.	9,92 zł	2,28 zł	12,20 zł<br />
    Fajka TP-06 Alu. Regulowana/Srebrna	szt.	0,60 zł	0,14 zł	0,74 zł<br />
    Hamulec rolkowy	szt.	134,90 zł	31,03 zł	165,93 zł<br />
    Kierownica	szt.	17,81 zł	4,10 zł	21,91 zł<br />
    Klocki hamulcowe	szt.	4,70 zł	1,08 zł	5,78 zł<br />
    Komplet hamulców (szczęki)	szt.	15,57 zł	3,58 zł	19,15 zł<br />
    Korba lewa	szt.	19,50 zł	4,49 zł	23,99 zł<br />
    Korba z zębatką	szt.	28,00 zł	6,44 zł	34,44 zł <br />
    Kostka elektryczna	szt.	6,30 zł	1,45 zł	7,75 zł<br />
    Koszyk	szt.	8,85 zł	2,04 zł	10,89 zł<br />
    Lampka przód	szt.	19,93 zł	4,58 zł	24,51 zł<br />
    Lampka tył	szt.	11,63 zł	2,67 zł	14,30 zł<br />
    Linka (cięgno) hamulca	szt.	2,46 zł	0,57 zł	3,03 zł<br />
    Linka (cięgno) przerzutki	szt.	1,90 zł	0,44 zł	2,34 zł<br />
    Łańcuch	szt.	5,70 zł	1,31 zł	7,01 zł<br />
    Mocowanie koszyka	szt.	18,06 zł	4,15 zł	22,21 zł<br />
    Mocowanie osłony łańcucha	szt.	6,72 zł	1,55 zł	8,27 złv<br />
    Odblask tylny	szt.	1,59 zł	0,37 zł	1,96 zł<br />
    Opona 26 x 2.125	szt.	27,41 zł	6,30 zł	33,71 zł<br />
    Osłona bagażnika(tył)	szt.	24,61 zł	5,66 zł	30,27 zł<br />
    Osłona łańcucha	szt.	5,70 zł	1,31 zł	7,01 zł<br />
    Pancerz linki hamulca	m.b.	1,67 zł	0,38 zł	2,05 zł<br />
    Pancerz przerzutki	m.b.	2,11 zł	0,49 zł	2,60 zł <br />
    Para pedałów	szt.	13,26 zł	3,05 zł	16,31 zł<br />
    Piasta przód(dynamo)	szt.	164,90 zł	37,93 zł	202,83 zł<br />
    Piasta tylna	szt.	130,05 zł	29,91 zł	159,96 zł<br />
    Popychacz do przerzutki	szt.	8,87 zł	2,04 zł	10,91 zł<br />
    Przednie koło z dynamem	szt.	196,00 zł	45,08 zł	241,08 zł<br />
    Przerzutka z modułem sterującym 	szt.	20,40 zł	4,70 zł	25,10 zł<br />
    Przewody oświetlenia	m.b.	5,12 zł	1,18 zł	6,30 zł<br />
    Rama rowerowa	szt.	457,38 zł	105,20 zł	562,58 zł<br />
    Rękojeść lewa	szt.	5,49 zł	1,26 zł	6,75 zł<br />
    Rękojeść prawa	szt.	4,71 zł	1,08 zł	5,79 zł<br />
    Siodło	szt.	15,30 zł	3,52 zł	18,82 zł<br />
    Skrzydełka reklamowe	szt.	33,60 zł	7,73 zł	41,33 zł<br />
    Stery kierownicy	szt.	5,69 zł	1,31 zł	7,00 zł<br />
    Stopka / Podpórka	szt.	14,40 zł	3,31 zł	17,71 zł<br />
    Support 115mm	szt.	12,56 zł	2,89 zł	15,45 złv<br />
    Szprycha przód	szt.	0,27 zł	0,06 zł	0,33 zł<br />
    Szprycha tył	szt.	0,27 zł	0,06 zł	0,33 zł<br />
    Sztyca	szt.	15,63 zł	3,59 zł	19,22 zł<br />
    Śruba hamulca rolkowego	szt.	19,90 zł	4,58 zł	24,48 zł<br />
    Śruba regulacyjna dźwigni hamulca	szt.	0,62 zł	0,14 zł	0,76 zł<br />
    Tylne koło 3 biegowe	szt.	148,50 zł	34,16 zł	182,66 zł<br />
    Widelec	szt.	43,00 zł	9,89 zł	52,89 zł<br />
    Wspornik kierownicy	szt.	16,93 zł	3,89 zł	20,82 zł<br />
    Zacisk sztycy	szt.	6,00 zł	1,38 zł	7,38 zł<br />
    Zamek szyfrowy  ABUS	szt.	56,10 zł	12,90 zł	69,00 zł<br />
    Elektrozamek	szt.	672,00 zł	154,56 zł	826,56 zł<br />
    *Może ulec zmianie.<br />
    Załącznik nr 3 Regulamin użytkowania rowerów cargo w systemie ZWR
    Przed przystąpieniem do użytkowania należy upewnić się, że rower jest sprawny i w stanie zdatnym do jazdy, a w szczególności czy posiada prawidłowo wyregulowane hamulce i przerzutki i czy wszystkie kluczowe elementy roweru (np. koła, kierownica, pedały itp.) są prawidłowo zamontowane. Przed przystąpieniem do jazdy należy ponadto ustawić wysokość siodełka i kierownicy w sposób adekwatny do wysokości jadącej osoby, nie przekraczając przy tym skrajnych położeń sztycy siodełka i kierownicy.
    Rower przeznaczony jest do prowadzenia przez osobę o wadze do 100 kg. Regulacja wysokości siodełka i kierownicy zapewnia komfort przy wzroście osoby kierującej w przedziale 160-197cm.
    Nie należy przekraczać dopuszczalnych ładowności roweru, które wynoszą 100 kg w przypadku skrzyni ładunkowej.
    Przewóz dzieci możliwy jest w skrzyni ładunkowej na przeznaczonych do tego celu ławeczkach (4 miejsca). Łączna waga dzieci nie powinna przekraczać maksymalnej ładowności skrzyni ładunkowej. Dzieci w trakcie jazdy powinny korzystać z przeznaczonych dla nich pasów bezpieczeństwa stanowiących element wyposażenia roweru. W trakcie jazdy dzieci powinny pozostawać w pozycji siedzącej i nie wystawiać rąk lub innych części ciała na zewnątrz poza obrys skrzyni ładunkowej.
    Przed przystąpieniem do przewozu ładunku należy upewnić się, iż jest on właściwie zabezpieczony i unieruchomiony oraz że jego całkowita waga nie przekracza dopuszczalnej nośności roweru. W trakcie przewożenia ładunku należy zapewnić osobie prowadzącej rower wystarczający poziom widoczności. Rower nie jest przeznaczony do przewozu produktów niebezpiecznych tj. w szczególności żrących, łatwopalnych itp.
    Należy dążyć do jak najniższego umiejscowienia środka ciężkości. Ładunek musi być rozmieszczony równomiernie tak, aby unikać przeciążenia przedniej części roweru tj. przed osią przednich kół. Ładunek nie powinien wystawać na zewnątrz poza obrys skrzyni ładunkowej.
    W trakcie jazdy nie należy podnosić się z siedzenia roweru. Należy ponadto cały czas trzymać przynajmniej jedną rękę na kierownicy. Należy unikać jazdy po wybojach, a w razie ich występowania zmniejszyć prędkość. Zalecane jest najeżdżanie na ewentualne poprzeczne przeszkody (progi zwalniające, krawężniki itp.) parą przednich kół równocześnie. Zalecany jest odpowiedni dobór przełożeń przerzutki, adekwatnie do zamierzonej prędkości. W miarę możliwości należy unikać nagłego hamowania. Zalecane jest hamowanie przy równoczesnym użyciu hamulców przednich i hamulca tylnego.
    Przy wykonywaniu manewru skręcania należy uwzględnić szeroki promień skrętu roweru. W zakręty należy wchodzić z umiarkowaną prędkością, aby nie dopuścić do przechylenia roweru i jazdy na jednym kole osi przedniej. Jazda na jednym kole osi przedniej jest zabroniona i może doprowadzić do uszkodzenia koła lub całego roweru.
    Przy głębokim skręcie należy zwolnić do minimalnej prędkości. Maksymalne wychylenie kierownicy uzyskuje się poprzez przełożenie prawego uchwytu do ręki lewej (przy skręcie w prawo) lub lewego uchwytu do ręki prawej (przy skręcie w lewo). Podczas maksymalnego wychylenia kierownicy nie należy trzymać kierownicy oburącz.
    Znajdująca się na wyposażeniu blokada tylnego koła (o-lock) służy do krótkotrwałego zabezpieczenia roweru przed kradzieżą.
    Rowery typu Cargo można zwracać na każdej stacji w ostatnim stojaku.<br />


</div>